* {
    box-sizing: border-box;
}

body {
    font-size: 36px;
    font-family: fantasy;
    color: papayawhip;
    background-image: url("../images/coolPic.jpg");
    background-repeat: fixed;
    min-height: calc(100vh - 70px);
}

h1    {
    margin: auto;
    padding: 34px;
    width: 40%;
    font-size: 60px;
    color: pink;
}

.container {
    width: 60%;
    max-width: 960px;
    margin: auto;
}

#grandTitle:hover {
    color: yellow;
}

#guesses:hover {
    color: black;
}

#wins:hover {
    color: rgb(113, 18, 236);
}

#losses:hover {
    color: purple;
}

#guessesLeft:hover {
    color: red;
}

#guessesSoFar:hover {
    color: gold;
}